*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

header{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

header img{
    height: 100%;
    width: 10%;
}

main{
    height: 60%;
    width: 40%;
    border: 1px gray solid;
    align-self: center;
}

main header{
    height: 10%;
    width: 100%;
    display: flex;
    gap: 0px;
    /* border: 1px red solid; */
}

main header nav{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px red solid;
}

#form, #form1{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    gap: 2%;
}

#form label, #form1 label{
    margin-right: 52%;
    margin-top: 3%;
}

#form input, #form1 input{
    width: 70%;
    height: 12%;
    padding: 0.2rem;
    font-size: 1rem;
}

#form input[type="submit"], #form1 input[type='submit']{
    width: 50%;
    height: 12%;
    margin: 2rem;
}

#form #user{
    margin-right: 57%;
    margin-top: 3%;
}
