*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    /* height: 100%; */
    width: 100%;
}

body{
    /* height: 100%; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    background-image: url('images/Grey white abstract background geometry shine and layer element vector for presentation design_ Suit for business, corporate, institution, party, festive, seminar, and talks_.jpg');
    background-size: cover;
}

header{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

header a img{
    height: 100%;
    width: 100%;
    cursor: pointer;
}

header a img:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    border-radius: 0.8rem;
}

header a img:active{
    transform: scale(0.98);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

header span{
    color: red;
}

header a{
    height: 100%;
    width: 10%;
}

table{
    min-width: 70%;
    height: calc(100%-25%);
    align-self: center;
    font-size: 1.2rem;
    border-color: purple;
    border-radius: 0.2rem;
    padding-left: 5px;
}

#but, .ed-btn, .del-btn{
    height: 2rem;
    width: 4rem;
    align-self: flex-end;
    margin-right: 1.5rem;
    border-color: purple;
    /* color: green; */
    border-radius: 0.4rem;
    font-weight: bold;
}

#but:hover, .ed-btn:hover, .del-btn:hover{
    transform: scale(1.05);
    background-color: purple;
    border: none;
    color: yellow;
}

div{
    align-self: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 549;
}

span{
    color: red;
}